.footer{
	padding-top: 50px;
}
#footer-logo {
    margin-right: 15px;
    color: rgb(151, 151, 151);
    font-family: 'Merriweather', serif;
}

.footer-heading {
	font-size: 20px;
    font-family: 'Merriweather', serif;
    float: left;
}


.social{
	float: right;
    margin-top: -30px;
}


.social-list li{
	display: inline-block;
	font-size: 60px;
    margin-left: 10px;

}

.line {
	height: 1px;
    width: 100%;
    background: rgb(151, 151, 151);
    margin-top: 50px;
}

.pow p{
	text-align: center;
    padding: 15px;
}

.fa-google-plus-square {
	color: rgba(255, 0, 0, 0.7);
}

.fa-google-plus-square:hover{
	color: rgba(255, 0, 0, 0.86);
}

@media only screen and (max-width: 580px) {
    .social {
        margin-top: 10px;
        float: none;
    }
    .footer-heading	{
    	float: none;
    }

    .container{
    	text-align: center;
    }
    .social-list{
    	padding-left: 0px;
    }
}